@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

:root {
    background-color: rgb(127, 23, 31);
    font-size: 65%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL XiaoWei', serif;
}

h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 4.8 rem;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* nepamirsk surasyt likusiu klasiu flex */

.btn {
    font-size: 2.5rem;
    padding: 2.2rem 0;
    width: 31rem;
    text-align: center;
    margin-bottom: 1.1rem;
    text-decoration: none;
    color: black;
    background: linear-gradient(85deg, rgb(182, 119, 33) 0%, rgb(127, 84, 23) 100%);
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.3rem 0 rgb(224, 142, 26, 0.7);
    transition: transform 160ms;
    transform: scale(1.04);
    
}

.btn[disabled] :hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

form {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1.9rem 0;
    font-size: 2rem;
        text-align: center;
}
 
form > input {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1.9rem 0;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}
    

/* game question, answer style */

.choice-container {
    display: flex;
    margin-bottom: 0.9rem;
    width: 100%;
    border-radius: 5px;
    font-size: 2.8rem;
    min-width: 78rem;
    background: rgb(163, 103, 19);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.3rem 0 rgb(224, 142, 26, 0.7);
    transform: scale(1.04);
    transform: transform 110ms;
}

.choice-prefix {
    padding: 1.8rem 2.5rem;
}

.choice-text {
    padding: 1.8rem;
    width: 100%
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.8rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 19rem;
    height: 3rem;
    border: 0.3rem solid rgb(150, 182, 33);
    margin-top: 1.8rem;
    border-radius: 55px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(150, 182, 33);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 30rem;
    }
}

@media (hover: hover) {
    .high-score:hover {
        transform: scale(1.025);
    }
}

@media (hover: hover) {
    .choice-container:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(50, 157, 156, 0.6);
        transform: scale(1.02);
    }
}



/* Mobile Screen */

@media screen and (max-width: 600px) {
    #question {
        font-size: 2.5rem
    }
    
    .choice-text {
        font-size: 2rem
    }
}